<h1>About Us</h1>

<p>We are Team Hyphen Underscore Hyphen (HUH). </p>
<p>We think life would be more fun as a game. We also think life would also be more fun with cool things to do. So we made life into a game where you can find cool things to do around you.</p>

<p>
Our raid group: 
<p>

<ul>
  <li>David Mah</li>
  <li>Stanley Wang</li>
  <li>Vojtech Rinik</li>
  <li>Wilson Lee</li>
</ul>
