<h1>About Us - Team Hyphen Underscore Hyphen (HUH)</h1>

<p>We wish life were a game. We also want cool things to do. So we made life into a game where you can find cool things to do around you.</p>

<p>
Raid group: 

Stanley Wang
Wilson Lee
David Mah
Vojtech Rinik
</p>
