<h1>About Us</h1>

<p>We are Team Hyphen Underscore Hyphen (HUH). We wish life were a game. We also want cool things to do. So we made life into a game where you can find cool things to do around you.</p>

<p>
Raid group: 
<p>

<ul>
  <li>David Mah</li>
  <li>Stanley Wang</li>
  <li>Vojtech Rinik</li>
  <li>Wilson Lee</li>
</ul>
