<div class="hero-unit">
  <h1>Destroy boredom, gain XP</h1>
  <p>
    Bored with nothing to do? Lifecraft helps you find activities near you so
    you can attend them!
  </p>
  <p><a id="get-started" class="btn btn-danger btn-large">Get started &raquo;</a></p>
</div>

<div class="row">
  <div class="span4">
    <h2>Receive Quest</h2>
    <p>
      A quest gives you, for the day, a series of activities near you to
      attend and quell your boredom.
    </p>
    <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
  </div>
  <div class="span4">
    <h2>Check In</h2>
    <p>
      Once you attend an event or activity, check in and we'll mark it off of
      your quest.
    </p>
    <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
 </div>
  <div class="span4">
    <h2>Level Up</h2>
    <p>
      For each activity you attend, you get experience points. Once you
      receive enough XP, you level up!
    </p>
    <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
  </div>
</div>
