<div class="hero-unit">
  <h1>Destroy boredom, gain XP</h1>
  <p>
    It's a Saturday afternoon. You're bored. If you were playing a game, you
    could go on a quest for adventure. Hey, why not go on a quest in real life?
  </p>
  <p>
    Welcome to Lifecraft. Take on quests and explore the world around you. Gain
    experience and level up. Go on raids and have fun with your friends. Your
    world awaits you, adventurer.
  </p>
  <p><a id="get-started" class="btn btn-danger btn-large">Get started &raquo;</a></p>
</div>

<div class="row">
  <div class="span4">
    <h2>Receive Quest</h2>
    <p>
      A quest gives you, for the day, an activity near you to
      attend and quell your boredom.
    </p>
    <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
  </div>
  <div class="span4">
    <h2>Check In</h2>
    <p>
      Once you attend an event or activity, check in and complete your quest.
    </p>
    <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
 </div>
  <div class="span4">
    <h2>Level Up</h2>
    <p>
      For each quest you complete, you get experience points. Once you
      receive enough XP, you level up!
    </p>
    <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
  </div>
</div>
